header{
    margin-bottom: 39px;
}
section{
    text-align: center;
}
.home{
    text-decoration: none;
    color: #16A085;
    font-family: Calibri;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}
.pa{
    margin-left: 58px;
    text-decoration: none;
    color: #16A085;
    font-family: Calibri;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}
.design{
    margin-left: 58px;
    text-decoration: none;
    color: #16A085;
    font-family: Calibri;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}
.dwl{
     margin-left: 58px;
    text-decoration: none;
    color: #16A085;
    font-family: Calibri;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}
img{
    width: 1110px;
    height: 580px;
    margin-bottom: 47px;
}
h1{
    margin-top: 0;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3.3px;
    font-family: Calibri;
    margin-bottom: 22px;
}
p.one{
    margin: 0 430px;
    font-size: 16px;
    font-family: Calibri;
    letter-spacing: 2.4px;
}
p.two{
    margin-left: 430px;
    margin-right: 430px;
    margin-bottom: 23px;
    font-size: 16px;
    font-family: Calibri;
    letter-spacing: 2.4px;
}
button{
    background-color: #16A085;
    color: white;
    width: 195px;
    height: 54px;
    border: 1px solid #16A085;
    font-weight: bold;
    font-size: 12px;
    font-family: Calibri;
    letter-spacing: 1.8px;
    margin-bottom: 65px;
}
footer{
    text-align: end;
    margin-right: 430px;
    font-weight: bold;
    font-size: 16px;
    font-family: Calibri;
    letter-spacing: 2.4px;
}