section{
    margin-top: -8px;
    margin-left: -8px;
    width: 1280px;
    background-image: url(background%201.png);
}
.logo{
    /*content: url()
    не бэкграунд, только имг
    */
    background-image: url(logo%203.png);
    width: 46px;
    height: 44px;
    margin-left: 130px;
    margin-top: 49px;
    float: left;
}
a{
    text-decoration: none;
}
.main-h:hover .logo{
    background-image: url(logo%202.png);
    width: 46px;
    height: 44px;
}
.main-h:hover .word1{
    color: #F26522;
}
.main-h:hover .word2{
    color: #F26522;
}
.main-h{
    width: 280px;
    float: left;
}
.div-word1{
    margin-top: 49px;
    margin-left: 15px;
    display: inline-block;
    /*width: 1089px;*/
}
.div-word2{
    margin-top: -3px;
    display: inline-block;
    margin-left: 15px;
    /*width: 1089px;*/
}
.word1{
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 29px;
}
.word2{
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.div-e-mail{
    margin-left: 649px;
    margin-top: 58px;
    display: inline-block;
}
.div-numb{
    margin-top: 10px;
    margin-left: 723px;
    display: inline-block;
}
.e-mail, .number{
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 18px;
}
.main::after{
    content: "";
    clear: both;
    display: table;
}
.shop-t{
    /*display: inline-block;*/
    float: left;
    margin-top: 50px;
    margin-left: 130px;
    background-image: url(Layer%2021.png);
    width: 294px;
    height: 200px;
}
.shop-t::after{
    content: "";
    clear: both;
    display: table;
}
.slide{
    opacity: 0;
    width: 294px;
    height: 63px;
    background-color: #F26522;
    margin-top: 137px;
}
.ss-t{
    margin-top: 50px;
    /*display: inline-block;*/
    float: left;
    background-image: url(Layer%2022.png);
    width: 294px;
    height: 200px;
    margin-left: 64px;
}
.ss-t::after{
    content: "";
    clear: both;
    display: table;
}
.food-t{
    margin-top: 50px;
    /*display: inline-block;*/
    float: left;
    background-image: url(Layer%2023.png);
    width: 294px;
    height: 200px;
    margin-left: 64px;
}
.food-t::after{
    content: "";
    clear: both;
    display: table;
}
.bn{
    /*display: inline-block;*/
    float: left;
    background-image: url(Layer%2024.png);
    margin-top: 65px;
    margin-left: 130px;
    width: 294px;
    height: 200px;
}
.bn::after{
    content: "";
    clear: both;
    display: table;
}
.aa{
    margin-top: 65px;
    /*display: inline-block;*/
    float: left;
    background-image: url(Layer%2026.png);
    width: 294px;
    height: 200px;
    margin-left: 64px;
}
.aa::after{
    content: "";
    clear: both;
    display: table;
}
.walk-t{
    margin-top: 65px;
    /*display: inline-block;*/
    float: left;
    background-image: url(Layer%2025.png);
    width: 294px;
    height: 200px;
    margin-left: 64px;
}
.walk-t::after{
    content: "";
    clear: both;
    display: table;
}
.txt{
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
}
.shop-t:hover .slide{
    opacity: 1;
}
.shop-t:hover .txt{
    color: #F26522;
}
.ss-t:hover .slide{
    opacity: 1;
}
.ss-t:hover .txt{
    color: #F26522;
}
.food-t:hover .slide{
    opacity: 1;
}
.food-t:hover .txt{
    color: #F26522;
}
.bn:hover .slide{
    opacity: 1;
}
.bn:hover .txt{
    color: #F26522;
}
.aa:hover .slide{
    opacity: 1;
}
.aa:hover .txt{
    color: #F26522;
}
.walk-t:hover .slide{
    opacity: 1;
}
.walk-t:hover .txt{
    color: #F26522;
}
.div-hidden{
    width: 55px;
    display: inline-block;
}
.hidden{
    display: inline-block;
    margin-top: 11px;
    margin-left: 20px;
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 10px;
}
.cost{
    font-size: 20px;
    font-family: Roboto, sans-serif;
    color: white;
    margin-top: 6px;
    margin-left: 20px;
}
.div-more{
    display: inline-block;
    margin-left: 105px;
}
.more{
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: white;
}
.more::after{
    content: ">";
    width: 5px;
    height: 10px;
    color: white;
    margin-left: 28px;
}
.footer{
    font-size: 12px;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;
    margin-top: 90px;
}