section{
    margin-left: 98px;
}
header{
    /*text-align: center;*/
    margin-top: 38px;
}
.logo{
    margin-top: 61px;
    display: inline-block;
}
.black{
    color: black;
    font-size: 80px;
}
.blue{
    color:deepskyblue;
    font-size: 80px;
}
nav{
    background-color: #35444F;
    height: 72px;
    margin-top: 38px;
    margin-right: 99px;
}
.f-p{
    display: inline-block;
    margin-top: 21px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-left: 188px;
}
.ramda{
    margin-top: 21px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.f-l-s{
    margin-top: 21px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.node{
    margin-top: 21px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-left: 20px;
}
.word-one{
    height: 70px;
    width: 583px;
    display: inline-block;
}
.word-two{
    display: inline-block;
    width: 243px;
    height: 70px;
    text-align: center;
}
.word-three{
    text-align: center;
    display: inline-block;
    height: 70px;
    width: 383px;
}
.word-four{
    display: inline-block;
    height: 70px;
    width: 420px;
}
.word-one:hover{
    background-color: #222F3A;
    border-right: white solid 1px;
}
.word-two:hover{
    background-color: #222F3A;
    border-left: white solid 1px;
    border-right: white solid 1px;
}
.word-three:hover{
    background-color: #222F3A;
    border-left: white solid 1px;
    border-right: white solid 1px;
}
.word-four:hover{
    background-color: #222F3A;
    border-left: white solid 1px;
}
div.main{
    display: inline-block;
    margin-top: 50px;
}
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    width: 344px;
    height: 399px;
}
li{
    padding-left: 44px;
    /*border: black solid 1px;*/
    display: block;
    height: 79.8px;
    font-size: 26px;
    color: #485863;
}
span{
    display: inline-block;
    margin-top: 25px;
}
li:hover{
    background-color: #DBDBDB;
}
.txt:hover{
    margin-left: 30px;
}
.list{
    width: 344px;
    height: 399px;
    vertical-align: top;
    border: black solid 1px;
    display: inline-block;
}
.image{
    margin-left: 45px;
    width: 1253px;
    height: 529px;
    border: black solid 1px;
    display: inline-block;
}
.oven{
    width: 320px;
    height: 381px;
    padding-left: 457px;
    padding-top: 75px;
}
.oven:hover{
    transition: 1s;
    transform: scale(1.2);
}
.text{
    margin-top: 42px;
    font-size: 18px;
    text-align: justify;
    width: 1252px;
    display: inline-block;
    margin-left: 402px;
}
footer{
    margin-top: 54px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-right: 99px;
}
.foot{
    height: 39px;
    color: black;
    font-size: 28px;
    display: inline-block;
    text-decoration: none;
}
.foot:hover{
    border-bottom: #3181A6 solid 2px;
    color: #3181A6;
}
.f-copy{
    font-size: 24px;
}
.f-one{
    display: inline-block;
    margin-left: 43px;
    width: 79px;
}
.f-two{
    margin-left: 35px;
    display: inline-block;
}
.f-three{
    margin-left: 35px;
    display: inline-block;
}
.f-four{
    margin-left: 35px;
    display: inline-block;
}
.f-five{
    margin-left: 35px;
    display: inline-block;
}
.f-six{
    margin-left: 544px;
    height: 68px;
    display: inline-block;
}
