.pricing-table{
    border: 20px solid #3A4965;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: Arimo, sans-serif;
}
td{
    border: 1px solid #D0D0D0;
}
.text{
    display: inline-block;
    padding-top: 51px;
    font-family: Arimo, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #484848;
}
.bold-text{
    font-family: Arimo, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 4px;
    margin-bottom: 48px;
    color: #484848;
}
.name{
    width: 31%;
    background-color: #FAFAFA;
}
.cost-cells{
    background-color: #FAFAFA;
}
.text-option{
    display: inline-block;
    font-family: Arimo, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-top: 27px;
    margin-bottom: 18px;
}
.std{
    background-color: #89C331;
    height: 73px;
}
.ult{
    background-color: #F04A56;
}
.pre{
    background-color: #20807C;
}
.cost{
    position: relative;
    display: inline-block;
    font-family: Arimo, sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-top: 36px;
    margin-bottom: -9px;
    vertical-align: middle;
    color: #484848;
}
.cost::after{
    position: absolute;
    content: ".99";
    font-size: 24px;
    top: -6px;
}
.period{
    display: inline-block;
    font-family: Arimo, sans-serif;
    font-size: 18px;
    vertical-align: middle;
    margin-top: 35px;
    margin-left: 5px;
    color: #484848;
}
.fa.fa-archive{
    color: #848484;
    font-size: 24px;
}
.store:hover{
    transform: scale(1.2);
}
.fa.fa-cloud-upload-alt{
    color: #848484;
    font-size: 24px;
}
.fa.fa-envelope{
    color: #848484;
    font-size: 24px;
}
.far.fa-life-ring{
    color: #848484;
    font-size: 24px;
}
.fas.fa-cube{
    color: #848484;
    font-size: 24px;
}
.fas.fa-users{
    color: #848484;
    font-size: 24px;
}
.store{
    display: inline-block;
    margin-left: 12px;
    font-size: 16px;
    color: #484848;
    margin-top: 25px;
    margin-bottom: 19px;
}
.gb{
    display: inline-block;
    font-size: 16px;
    color: #484848;
    margin-top: 25px;
    margin-bottom: 19px;
}
.store-cell, .mail-cell, .product-cell{
    background-color: #F2F2F2;
}
.band-cell, .sp-cell, .user-cell{
    background-color: #E3E3E3;
}
.contact{
    position: relative;
    margin-top: 29px;
    width: 195px;
    height: 45px;
    border-radius: 5px 5px 0px 0px;
    background-color: #484848;
    border: none;
    margin-bottom: 36px;
}
.contact::after{
    position: absolute;
    content: "";
    width: 195px;
    height: 9px;
    background-color: #404040;
    border: inherit;
    border-radius: 0px 0px 5px 5px;
    bottom: -9px;
    left: 0;
}
.contact:active{
    background-color: #404040;
}
.buy-green{
    position: relative;
    margin-top: 29px;
    width: 195px;
    height: 45px;
    border-radius: 5px 5px 0px 0px;
    border: none;
    margin-bottom: 36px;
    background-color: #89C331;
}
.buy-green::after{
    position: absolute;
    content: "";
    width: 195px;
    height: 9px;
    border: inherit;
    border-radius: 0px 0px 5px 5px;
    bottom: -9px;
    left: 0;
    background-color: #79B027;
}
.buy-green:active{
    background-color: #79B027;
}
.buy-red{
    position: relative;
    margin-top: 29px;
    width: 195px;
    height: 45px;
    border-radius: 5px 5px 0px 0px;
    border: none;
    margin-bottom: 36px;
    background-color: #F04A56;
}
.buy-red::after{
    position: absolute;
    content: "";
    width: 195px;
    height: 9px;
    border: inherit;
    border-radius: 0px 0px 5px 5px;
    bottom: -9px;
    left: 0;
    background-color: #DF3A46;
}
.buy-red:active{
    background-color: #DF3A46;
}
.buy-blue{
    position: relative;
    margin-top: 29px;
    width: 195px;
    height: 45px;
    border-radius: 5px 5px 0px 0px;
    border: none;
    margin-bottom: 36px;
    background-color: #20807C;
}
.buy-blue::after{
    position: absolute;
    content: "";
    width: 195px;
    height: 9px;
    border: inherit;
    border-radius: 0px 0px 5px 5px;
    bottom: -9px;
    left: 0;
    background-color: #16736F;
}
.buy-blue:active{
    background-color: #16736F;
}
.button-text{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}
.contact-cell{
    background-color: #DDDDDD;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.two-cells{
    background-color: #EEEEEE;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.one-cell{
    background-color: #F4F4F4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}