section{
    background-image: url(%D0%A4%D0%BE%D0%BD%201.png);
    width: 100vw;
    height: 100 vh;
    background-size: cover;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
header{
    height: 69px;
    background-color: rgba(0,0,0,0.41);
}
nav{
    height: 59px;
}
.name{
    display: inline-block;
    margin-top: 24px;
    margin-left: 153px;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.name:hover{
    color: #3CB878;
}
.sprite1{
    width: 20px; 
    height: 20px;
    background: url('icons.png') -50px -50px;
}
.sprite2{
    width: 28px; 
    height: 20px;
    background: url('icons.png') -58px -10px;
}
.sprite3{
    width: 19px; 
    height: 19px;
    background: url('icons.png') -106px -49px;
}
.icon1{
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-right: 28px;
}
.sprite3:hover{
    background: url(icons.png) -106px -10px;
    width: 19px; 
    height: 19px;
}
.icon2{
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-right: 28px;
}
.sprite2:hover{
    background: url(icons.png) -10px -10px;
    width: 28px; 
    height: 20px;
}
.icon3{
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-right: 56px;
    
}
.sprite1:hover{
    background: url(icons.png) -10px -50px;
    width: 20px; 
    height: 20px;
}
.login{
    display: inline-block;
    float: right;
    margin-right: 12px;
}
.sign{
    display: inline-block;
    float: right;
    margin-right: 110px;
}
.whole-l{
    display: inline-block;
    margin-top: 24px;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
}
.whole-s{
    display: inline-block;
    margin-top: 24px;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
}
.first{
    color: white;
    margin-right: 2px;
}
.second{
    color: #3CB878;
}
.main{
    text-align: center;
    height: 853px;
    line-height: 853px;
}
.form{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    background-color: white;
    font-family: Ubuntu, sans-serif;
    position: relative;
}
.signUp::before{
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #3CB878;
    left: 0;
}
.signUp{
    display: inline-block;
    margin-top: 29px;
    font-weight: normal;
    font-size: 20px;
    margin-right: 158px;
}
.login-f{
    float: right;
    display: inline-block;
    margin-top: 29px;
    margin-right: 59px;
    font-size: 14px;
    color: #3CB878;
}
.buttons{
    margin-top: 19px;
}
.div-fb{
    display: inline-block;
    margin-left: 61px;
}
.div-goo{
    display: inline-block;
    margin-left: 4px;
    margin-right: 59px;
}
.button-fb{
    background-color: #305DB8;
    border: none;
    border-radius: 3px;
    width: 160px;
    height: 48px;
    position: relative; 
}
.button-goo{
    background-color: #DF4A32;
    border: none;
    border-radius: 3px;
    width: 160px;
    height: 48px;
    position: relative;
}
.fb-img{
    margin-left: 11px;
    float: left;
    vertical-align: middle;
}
.goo-img{
    margin-left: 11px;
    float: left;
    vertical-align: middle;
}
.fb{
    color: white;
    font-size: 16px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
.fb::before{
    content: "";
    width: 1px;
    height: 28px;
    position: absolute;
    background-color: #0A162F;
    opacity: 0.1;
    vertical-align: middle;
    left: 48px;
}
.goo{
    color: white;
    font-size: 16px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
.goo::before{
    content: "";
    width: 1px;
    height: 28px;
    position: absolute;
    background-color: #0A162F;
    opacity: 0.1;
    vertical-align: middle;
    left: 48px;
}
.or{
    display: block;
    color: #848484;
    font-size: 14px;
    margin-top: 29px;
    margin-bottom: 14px;
}
form{
    width: 448px;
}
.input-box{
    width: 308px;
    height: 48px;
    float: left;
    margin-left: 61px;
    margin-top: 9px;
    padding-left: 18px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
}
input::placeholder{
    color: #BEBEBE;
    font-size: 14px;
}
input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    margin-bottom: 11px;
    color: #434343;
    font-size: 14px;
}
.check{
    width: 448px;
    display: block;
    margin-top: 19px;
    float: left;
}
.text-check{
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}
.first-ch{
    color: #434343;
}
.second-ch{
    color: #3CB878;
}
.box{
    float: left;
    vertical-align: middle;
    margin-left: 61px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}
.ok{
    display: inline-block;
    margin-bottom: 2px;
}
input:checked + label .ok{
    content: "";
    display: inline-block;
    width: 14px;
    height: 9px;
    border-left: 3px solid #3CB878;
    border-bottom: 2.5px solid #3CB878;
    transform: rotate(-45deg);
}
#checkbox{
    display: none;
}
.div-submit{
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 61px;
    margin-bottom: 32px;
}
.sub{
    width: 328px;
    height: 46px;
    border: none;
    background: #3CB878;
    font-size: 16px;
    color: white;
    border-radius: 3px;
}